## Red de Monitoreo de Calidad del Aire de Bogota.
http://rmcab.ambientebogota.gov.co/Report/stationreport

In [12]:
#!pip install --upgrade pip # se actualiza pip, en caso de que no lo tenga actualizado
#!pip install psycopg2-binary # Psycopg es un adaptador de base de datos PostgreSQL

In [13]:
import pandas as pd # libreria para el manejo y anÃ¡lisis de estructuras de datos

df = pd.read_csv('data/clean_data_final_geo.csv') # se lee el csv que contiene los datos limpios
df

,PM10,PM2.5,NO,NO2,NOX,CO,OZONO,Station,DateTime,Status,Name,Localidad,Latitud,Longitud
0,56.6,32.7,7.504,15.962,23.493,0.44924,2.431,USM,01-01-2021 01:00,True,usame,Usme,4.532097,-74.116947
1,59.3,39.3,16.560,17.866,34.426,0.69832,1.121,USM,01-01-2021 02:00,True,usame,Usme,4.532097,-74.116947
2,96.4,70.8,22.989,17.802,40.791,0.88243,1.172,USM,01-01-2021 03:00,True,usame,Usme,4.532097,-74.116947
3,108.3,81.0,3.704,9.886,13.591,0.29549,6.565,USM,01-01-2021 04:00,True,usame,Usme,4.532097,-74.116947
4,87.7,56.1,2.098,9.272,11.371,0.16621,9.513,USM,01-01-2021 05:00,True,usame,Usme,4.532097,-74.116947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166435,43.1,12.0,11.771,23.697,35.468,0.98779,8.146,KEN,31-12-2021 20:00,False,kennedy,Kennedy,4.625083,-74.161222
166436,35.0,35.0,6.634,21.677,28.311,0.85772,8.055,KEN,31-12-2021 21:00,True,kennedy,Kennedy,4.625083,-74.161222
166437,43.5,43.0,2.666,19.867,22.533,0.84339,6.877,KEN,31-12-2021 22:00,True,kennedy,Kennedy,4.625083,-74.161222
166438,60.1,55.0,2.622,19.689,22.311,0.84038,6.533,KEN,31-12-2021 23:00,True,kennedy,Kennedy,4.625083,-74.161222
166439,54.1,46.0,2.074,17.430,19.504,0.79061,6.242,KEN,31-12-2021 24:00,True,kennedy,Kennedy,4.625083,-74.161222

## Se crea un nuevo DataFrame con los datos de los polutantes

In [23]:
df_polutante=pd.DataFrame(df, columns=["PM10", "PM2.5", "NO", "NO2", "NOX", "CO", "OZONO"]) # se crea un nuevo DataFrame unicamente con los polutantes
df['id_polutante'] = df.index+1 # se crea una nueva columna que identificarÃ¡ a cada polutante
df_polutante = df_polutante.rename(columns={'PM10': 'pm10'}) # se pone el nombre de la columna en minuscula
df_polutante = df_polutante.rename(columns={'PM2.5': 'pm25'})
df_polutante = df_polutante.rename(columns={'NO': 'no'})
df_polutante = df_polutante.rename(columns={'NO2': 'no2'})
df_polutante = df_polutante.rename(columns={'NOX': 'nox'})
df_polutante = df_polutante.rename(columns={'CO': 'co'})
df_polutante = df_polutante.rename(columns={'OZONO': 'ozono'})
df_polutante

         pm10  pm25      no     no2     nox       co  ozono
0        56.6  32.7   7.504  15.962  23.493  0.44924  2.431
1        59.3  39.3  16.560  17.866  34.426  0.69832  1.121
2        96.4  70.8  22.989  17.802  40.791  0.88243  1.172
3       108.3  81.0   3.704   9.886  13.591  0.29549  6.565
4        87.7  56.1   2.098   9.272  11.371  0.16621  9.513
...       ...   ...     ...     ...     ...      ...    ...
166435   43.1  12.0  11.771  23.697  35.468  0.98779  8.146
166436   35.0  35.0   6.634  21.677  28.311  0.85772  8.055
166437   43.5  43.0   2.666  19.867  22.533  0.84339  6.877
166438   60.1  55.0   2.622  19.689  22.311  0.84038  6.533
166439   54.1  46.0   2.074  17.430  19.504  0.79061  6.242

[166440 rows x 7 columns]

## Se crea un nuevo DataFrame con los datos de las estaciones y se eliminan las filas repetidas

In [15]:
df_estacion=pd.DataFrame(df, columns=["Name", "Station", "Localidad", "Latitud", "Longitud"]) # se crea un nuevo DataFrame unicamente con los datos de las estaciones
df_estacion = df_estacion.drop_duplicates() # se eliminan las filas repetidas
df_estacion = df_estacion.rename(columns={'Station': 'sigla'}) # se cambia el nombre a la columna Station por Sigla
df_estacion = df_estacion.rename(columns={'Name': 'nombre'}) # se cambia el nombre a la columna Name por Nombre
df_estacion = df_estacion.rename(columns={'Localidad': 'localidad'}) # se pone el nombre de la columna en minuscula
df_estacion = df_estacion.rename(columns={'Latitud': 'latitud'})
df_estacion = df_estacion.rename(columns={'Longitud': 'longitud'})


df_estacion

                         nombre sigla       localidad   latitud   longitud
0                         usame   USM            Usme  4.532097 -74.116947
8760                    bolivia   BOL        EngativÃ¡  4.735578 -74.125925
17520                      suba   SUB            Suba  4.761222 -74.093433
26280                     tunal   TUN      Tunjuelito  4.576206 -74.130975
35040                las_ferias   LFR        EngativÃ¡  4.690628 -74.082378
43800             pueste_aranda   PTE   Puente Aranda  4.631817 -74.117278
52560               minambiente   MAM        Santa Fe  4.625364 -74.066972
61320            ciudad_bolivar   CBV  Ciudad BolÃ­var  4.577889 -74.166272
70080   centro_alto_rendimiento  CDAR        EngativÃ¡  4.658417 -74.083944
78840             san_cristobal   SCR   San CristÃ³bal  4.572558 -74.083639
87600                  fontibon   FTB        FontibÃ³n  4.678169 -74.143714
96360                 el_jazmin   JAZ   Puente Aranda  4.608417 -74.114869
105120                movil_7ma   7MA       Chapinero  4.645117 -74.061503
113880       carvajal_sevillana   CSE         Kennedy  4.595958 -74.148483
122640                guaymaral   GYR            Suba  4.783614 -74.043994
131400                   colina   COL            Suba  4.736981 -74.069472
140160           movil_fontivon  MOV2        FontibÃ³n  4.667789 -74.148483
148920                  usaquen   USQ         UsaquÃ©n  4.710381 -74.030414
157680                  kennedy   KEN         Kennedy  4.625083 -74.161222

In [16]:
# se remplaza la columna sigla, dejando unicamente los datos unicos y luego se le cambia el nombre
# a la misma por id_estacion
count = 1
for index, row in df_estacion.iterrows():
    df = df.replace({row["sigla"]: count})
    count += 1
df = df.rename(columns={'Station': 'id_estacion'})
df

,PM10,PM2.5,NO,NO2,NOX,CO,OZONO,id_estacion,DateTime,Status,Name,Localidad,Latitud,Longitud,id_polutante
0,56.6,32.7,7.504,15.962,23.493,0.44924,2.431,1,01-01-2021 01:00,True,usame,Usme,4.532097,-74.116947,1
1,59.3,39.3,16.560,17.866,34.426,0.69832,1.121,1,01-01-2021 02:00,True,usame,Usme,4.532097,-74.116947,2
2,96.4,70.8,22.989,17.802,40.791,0.88243,1.172,1,01-01-2021 03:00,True,usame,Usme,4.532097,-74.116947,3
3,108.3,81.0,3.704,9.886,13.591,0.29549,6.565,1,01-01-2021 04:00,True,usame,Usme,4.532097,-74.116947,4
4,87.7,56.1,2.098,9.272,11.371,0.16621,9.513,1,01-01-2021 05:00,True,usame,Usme,4.532097,-74.116947,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166435,43.1,12.0,11.771,23.697,35.468,0.98779,8.146,19,31-12-2021 20:00,False,kennedy,Kennedy,4.625083,-74.161222,166436
166436,35.0,35.0,6.634,21.677,28.311,0.85772,8.055,19,31-12-2021 21:00,True,kennedy,Kennedy,4.625083,-74.161222,166437
166437,43.5,43.0,2.666,19.867,22.533,0.84339,6.877,19,31-12-2021 22:00,True,kennedy,Kennedy,4.625083,-74.161222,166438
166438,60.1,55.0,2.622,19.689,22.311,0.84038,6.533,19,31-12-2021 23:00,True,kennedy,Kennedy,4.625083,-74.161222,166439
166439,54.1,46.0,2.074,17.430,19.504,0.79061,6.242,19,31-12-2021 24:00,True,kennedy,Kennedy,4.625083,-74.161222,166440

## Se crea un nuevo DataFrame con los datos de las fechas.

In [17]:
# se crea un nuevo DataFrame y se eliminan los valores repetidos
df_fecha=pd.DataFrame(df, columns=["DateTime"]) #Â se crea un nuevo DataFrame con las fechas y horas 
#df_fecha["DateTime"].value_counts() # !TODO Borrar?
df_fecha = df_fecha.drop_duplicates() # se eliminan las filas repetidas
df_fecha

              DateTime
0     01-01-2021 01:00
1     01-01-2021 02:00
2     01-01-2021 03:00
3     01-01-2021 04:00
4     01-01-2021 05:00
...                ...
8755  31-12-2021 20:00
8756  31-12-2021 21:00
8757  31-12-2021 22:00
8758  31-12-2021 23:00
8759  31-12-2021 24:00

[8760 rows x 1 columns]

In [18]:
import re # libreria para el uso de lenguajes regulares
from pandas.tseries.holiday import Holiday, AbstractHolidayCalendar
from datetime import datetime

# definimos los dÃ­as festivo para el aÃ±o en que se tomaron los datos
class EsBusinessCalendar(AbstractHolidayCalendar):
   rules = [ # se definen los festivos, teniendo en cuenta los horarios festivos para el aÃ±o de 2021 en Colombia
     Holiday('AÃ±o Nuevo', month=1, day=1),
     Holiday('DÃ­a de los Reyes Magos', month=1, day=11),
     Holiday('DÃ­a de San JosÃ©', month=3, day=22),
     Holiday('Jueves Santo', month=4, day=1),
     Holiday('Viernes Santo', month=4, day=2),
     Holiday('DÃ­a del Trabajador', month=5, day=1),
     Holiday('DÃ­a de la AscensiÃ³n', month=5, day=17),
     Holiday('Corpus Christi', month=6, day=7),
     Holiday('Sagrado CorazÃ³n', month=6, day=14),
     Holiday('San Pedro y San Pablo ', month=7, day=5),
     Holiday('DÃ­a de la Independencia', month=7, day=20),
     Holiday('Batalla de BoyacÃ¡', month=8, day=7),
     Holiday('AsunciÃ³n de la Virgen', month=8, day=16),
     Holiday('CelebraciÃ³n del DÃ­a de la Raza', month=10, day=18),
     Holiday('DÃ­a de todos los Santos', month=11, day=1),
     Holiday('Independencia de Cartagena', month=11, day=15),
     Holiday('Inmaculada ConcepciÃ³n', month=12, day=8),    
     Holiday('Navidad', month=12, day=25)
   ]

calendar_festivos = EsBusinessCalendar() # se instancia el objeto
calendar_festivos = calendar_festivos.holidays(start='2021-01-01', end='2021-12-31') # se define el rango de tiempo en que se tendran en cuenta los festivos (anho 2021)

dias = []
meses = []
anhos = []
horas = []
fin_semana = []
festivo = []


for index, row in df_fecha.iterrows(): # se recorre cada fila del DataFrame
    list_fecha = re.split("[\-\s]", row['DateTime']) # 
    dias.append(list_fecha[0])
    meses.append(list_fecha[1])
    anhos.append(list_fecha[2])
    horas.append(list_fecha[3])

    hora = row['DateTime'].split(" ")
    hora[0] = datetime.strptime(hora[0], '%d-%m-%Y')
    if hora[0].weekday() < 5 : # condicciÃ³n para determinar si el dÃ­a estÃ¡ comprendido entre lues-viernes
        fin_semana.append(False)
    else:
        fin_semana.append(True)
    if hora[0] in calendar_festivos: # condicciÃ³n para determinar si el dÃ­a hace parte de los dÃ­as festivos del aÃ±o
        festivo.append(True)
    else: 
        festivo.append(False)

dict_fechas = {'dia': dias, 'mes': meses, 'anho': anhos, 'hora': horas, 'fin_semana': fin_semana, 'festivo': festivo}
df_fechas = pd.DataFrame(data=dict_fechas)
df_fechas

     dia mes  anho   hora  fin_semana  festivo
0     01  01  2021  01:00       False     True
1     01  01  2021  02:00       False     True
2     01  01  2021  03:00       False     True
3     01  01  2021  04:00       False     True
4     01  01  2021  05:00       False     True
...   ..  ..   ...    ...         ...      ...
8755  31  12  2021  20:00       False    False
8756  31  12  2021  21:00       False    False
8757  31  12  2021  22:00       False    False
8758  31  12  2021  23:00       False    False
8759  31  12  2021  24:00       False    False

[8760 rows x 6 columns]

## CreaciÃ³n de la columna id_tiempo para identificar cada una de las fechas en el DF principal

In [19]:
count = 1
for index, row in df_fecha.iterrows(): # se recorre cada fecha de df_fecha
    df.loc[df['DateTime'] == row["DateTime"], 'DateTime'] = count # por cada fila de df_fecha se crea un nuevo identificador en el DataFrame principal
    count += 1
df = df.rename(columns={'DateTime': 'id_tiempo'})
df

,PM10,PM2.5,NO,NO2,NOX,CO,OZONO,id_estacion,id_tiempo,Status,Name,Localidad,Latitud,Longitud,id_polutante
0,56.6,32.7,7.504,15.962,23.493,0.44924,2.431,1,1,True,usame,Usme,4.532097,-74.116947,1
1,59.3,39.3,16.560,17.866,34.426,0.69832,1.121,1,2,True,usame,Usme,4.532097,-74.116947,2
2,96.4,70.8,22.989,17.802,40.791,0.88243,1.172,1,3,True,usame,Usme,4.532097,-74.116947,3
3,108.3,81.0,3.704,9.886,13.591,0.29549,6.565,1,4,True,usame,Usme,4.532097,-74.116947,4
4,87.7,56.1,2.098,9.272,11.371,0.16621,9.513,1,5,True,usame,Usme,4.532097,-74.116947,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166435,43.1,12.0,11.771,23.697,35.468,0.98779,8.146,19,8756,False,kennedy,Kennedy,4.625083,-74.161222,166436
166436,35.0,35.0,6.634,21.677,28.311,0.85772,8.055,19,8757,True,kennedy,Kennedy,4.625083,-74.161222,166437
166437,43.5,43.0,2.666,19.867,22.533,0.84339,6.877,19,8758,True,kennedy,Kennedy,4.625083,-74.161222,166438
166438,60.1,55.0,2.622,19.689,22.311,0.84038,6.533,19,8759,True,kennedy,Kennedy,4.625083,-74.161222,166439
166439,54.1,46.0,2.074,17.430,19.504,0.79061,6.242,19,8760,True,kennedy,Kennedy,4.625083,-74.161222,166440

In [20]:
# finalmente se crea un DataFrame, el cual se relaciona con los DataFrame creados anteriormente por medio de sus identificadores 
df_fact_medidad=pd.DataFrame(df, columns=["id_estacion", "id_tiempo", "id_polutante"])
df_fact_medidad

        id_estacion id_tiempo  id_polutante
0                 1         1             1
1                 1         2             2
2                 1         3             3
3                 1         4             4
4                 1         5             5
...             ...       ...           ...
166435           19      8756        166436
166436           19      8757        166437
166437           19      8758        166438
166438           19      8759        166439
166439           19      8760        166440

[166440 rows x 3 columns]

## CreaciÃ³n de las tablas en Postgress

In [21]:
from conexion import new_model

# se cambian los nombres de las columnas a minuscula
#df_estacion = df_estacion.columns.str.lower()
#df_polutante = df_polutante.columns.str.lower()


# se llama a la funciÃ³n new_model con cada uno de los DataFrame para crear las tablas correspondientes
df_fact_medidad = df_fact_medidad.astype(int)
new_model(df_estacion, "dim_estacion")
new_model(df_polutante, "dim_polutante")
new_model(df_fechas, "dim_tiempo")
new_model(df_fact_medidad, "fact_medidad")